<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.qsmr.github-daily</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>B46A946C-CFFE-4EF7-B052-48BFEAEB7A0B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5D5D3BC-473D-4CEB-B497-A1721D51934A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DD93E818-5E0F-4E30-97C1-A0A60CFF8A58</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5D5D3BC-473D-4CEB-B497-A1721D51934A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EA5B9335-A7CE-465B-8ADC-56D86C2DD247</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5D5D3BC-473D-4CEB-B497-A1721D51934A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F2F563C5-1CC9-4478-A3FC-62EB584478F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5D5D3BC-473D-4CEB-B497-A1721D51934A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FC612F34-12D8-4BD8-B213-8F61F2BF599B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5D5D3BC-473D-4CEB-B497-A1721D51934A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Quentin Sommer</string>
	<key>description</key>
	<string>Daily interactions with GitHub</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>GitHub daily</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>prs</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./dist/github-daily --command=prs --filter="$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Pull requests you created</string>
				<key>title</key>
				<string>Your pull requests</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DD93E818-5E0F-4E30-97C1-A0A60CFF8A58</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>reviews</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./dist/github-daily --command=reviews --filter="$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Pull requests where you are involved</string>
				<key>title</key>
				<string>Your reviews</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FC612F34-12D8-4BD8-B213-8F61F2BF599B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F5D5D3BC-473D-4CEB-B497-A1721D51934A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>repos</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./dist/github-daily --command=repos --filter="$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Repositories you can contribute to</string>
				<key>title</key>
				<string>GitHub repos</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EA5B9335-A7CE-465B-8ADC-56D86C2DD247</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./dist/github-daily --command=menu</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Shortcut to common GitHub pages</string>
				<key>title</key>
				<string>GitHub links</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B46A946C-CFFE-4EF7-B052-48BFEAEB7A0B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>involved</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./dist/github-daily --command=involved --filter="$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Pull Requests you reviewed/commented/were mentioned</string>
				<key>title</key>
				<string>Your involved Pull Requests</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F2F563C5-1CC9-4478-A3FC-62EB584478F0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Configuration

## User configuration

**GITHUB_TOKEN**: Create a GitHub API token (make sure to make it permanent) [here](https://github.com/settings/tokens/new?description=GitHub%20Daily%20Alfred%20workflow&amp;amp;scopes=repo)

**QUICK_LINKS**: Custom URLs that will be shown when you run `gh`. You could add the URL to a GitHub project you visit often for example. Format: JSON array like
```[{"title": "My title", "arg": "https://destination.com"}]```

## Running the workflow

### First run

⚠️ The first time you'll run the workflow you will get a warning from Apple saying that the binary cannot be run.
You must mark the binary as runnable like this: right click on the `dist/github-daily` file and click "open". It will run with an error because it expects options but now Apple will allow you to run it.

The binary is in the `dist` folder inside the workflow directory. To open the workflow directory: right click the workflow in the list -&gt; open in finder


### Usage

**Commands**

- `gh`: list of common GitHub pages
- `repos`: list of all repos you have access to
- `prs`: list of the PRs you created
- `reviews`: list of the PRs where you are involved, but did not create (tagged, asked for review, commented)

**Filtering**: `repos`, `prs`, `reviews` all support filtering with fuzzy search


**Action**: The action associated to every results is opening the URL in the default browser.</string>
	<key>uidata</key>
	<dict>
		<key>B46A946C-CFFE-4EF7-B052-48BFEAEB7A0B</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>DD93E818-5E0F-4E30-97C1-A0A60CFF8A58</key>
		<dict>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>EA5B9335-A7CE-465B-8ADC-56D86C2DD247</key>
		<dict>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>F2F563C5-1CC9-4478-A3FC-62EB584478F0</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>F5D5D3BC-473D-4CEB-B497-A1721D51934A</key>
		<dict>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>FC612F34-12D8-4BD8-B213-8F61F2BF599B</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Make sure to make permanent</string>
			<key>label</key>
			<string>GitHub API token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>GITHUB_TOKEN</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Your GitHub username</string>
			<key>label</key>
			<string>GitHub username</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>GITHUB_USERNAME</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>[]</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>6</integer>
			</dict>
			<key>description</key>
			<string>Will be prepend to the results of `gh` command.</string>
			<key>label</key>
			<string>Custom links</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>QUICK_LINKS</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Disable alfred re-ordering the results</string>
			</dict>
			<key>description</key>
			<string>Alfred re-orders results based on usage. Checking this disables it.</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>DISABLE_ALFRED_REORDERING</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.4.1</string>
	<key>webaddress</key>
	<string>https://github.com/quentin-sommer/github-daily-alfred</string>
</dict>
</plist>
